.input {
  background: #084c61;
  border: #ff6700 solid 5px;
  color: #fff;
  border-radius: 0;
  flex: 3;
  border-radius: 55px;
  font-size: 1.2em;
  padding: 0 0 0 20px;
  height: 70px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
