.form {
  max-height: 300px;
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: #ff6700 solid 5px;
  border-radius: 0;
  width: 80%;
  font-size: 1.2em;
  padding: 0 0 0 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff6700;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
